[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "curstatCI"]
	path = curstatCI
	url = https://github.com/kimhendrickx/curstatci
